.places h1, h2 {
	font-size: 30px;
}
article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F 1px solid;
	border-radius: 4px;
	text-align: center;
}
.places h2 {
	text-align: center;
}
.price_by_night {
	font-size: 30px;
	color: #FF5A5F;
	height: 60px;
	min-width: 60px;
	border: #FF5A5F 4px solid;
	border-radius: 50%;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.information {
	height: 80px;
	border-top: #DDDDDD 1px solid;
	border-bottom: #DDDDDD 1px solid;
	margin-top: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 15px;
}
.max_guest {
	width: 100px;
	background-image: url("../images/icon_group.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 5px;
	margin-left: 20px;
}
.number_rooms {
	width: 100px;
	background-image: url("../images/icon_bed.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 5px;
}
.number_bathrooms {
	width: 100px;
	background-image: url("../images/icon_bath.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 5px;
}
.places p {
	padding-top: 65%;
	text-align: center;
}
.user {
	padding-top: 20px;
}
.description {
	padding-top: 10px;
}
